# MintPy — track 18 ASC, frame 1050, área ampliada, serie 2019–2026 (~mensual).
mintpy.load.processor      = hyp3
mintpy.load.unwFile        = ./products/*/*_unw_phase.tif
mintpy.load.corFile        = ./products/*/*_corr.tif
mintpy.load.demFile        = ./products/*/*_dem.tif
mintpy.load.incAngleFile   = ./products/*/*_lv_theta.tif
mintpy.load.azAngleFile    = ./products/*/*_lv_phi.tif

mintpy.reference.lalo      = auto

# Recorte al AOI ampliado (oeste+norte): lat0:lat1, lon0:lon1
mintpy.subset.lalo         = -39.2:-37.3, -70.6:-68.2

# Correcciones: tropo ERA5 (requiere ~/.cdsapirc, ya configurado).
mintpy.troposphericDelay.method = pyaps
mintpy.troposphericDelay.weatherModel = ERA5
mintpy.deramp                   = linear

# Enmascarar baja coherencia.
mintpy.network.coherenceBased   = yes
mintpy.network.minCoherence     = 0.4
